* 
{
    box-sizing: border-box;
}

h1, p
{
    font-family: Arial;
}

/* Note: maybe useful colors - #dbdbdb, #b5e0ad */
/* Common styles for difficulty groups */

.challenge-group
{
    width: 100%;
    margin-top: 20px;
}

.group-desc
{
    border-bottom: 0;
    width: 15%;
    margin: 0;
    margin-left: 6px;
    font-family: Monospace;
    text-align: center;
    background-color: #65e04f;
    color: black;
    padding: 6px;
    border-radius: 4px 4px 0 0;
}

.challenge-row
{
    margin: 0;
    border: 0px solid black; 
    height: 108px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.challenge
{
    width: 100px;
    height: 100px;
    background-color: white;
    float: left;
    margin-left: 4px;
}

.challenge h3:hover
{
    cursor: pointer;
    background-color: #173312;
    color: white;
}

.challenge h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Monospace;
    font-size: 16px;
    transition: background-color 0.1s, color 0.1s;
}

/* Individual styles for difficulty groups */
#group-easy .challenge-row { background-color: #65e04f; }
#group-easy .group-desc { background-color: #65e04f; }
#group-easy .challenge h3:hover { background-color: #173312; }

#group-medium .challenge-row { background-color: orange; }
#group-medium .group-desc { background-color: orange; }
#group-medium .challenge h3:hover { background-color: #3b1e00; }

#group-hard .challenge-row { background-color: darkred; }
#group-hard .group-desc { background-color: darkred; }
#group-hard .challenge h3:hover { background-color: #1f0000; }

/* Current challenge view */
#current-challenge-view
{  
    z-index: 999;
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
}

#current-challenge-content
{
    background-color: white;
    position: absolute;
    top: 10%;
    width: 70%;
    height: 80%;
    padding: 20px;
    font-family: Monospace;
    border-radius: 10px;
}

#current-challenge-content h2
{
    font-size: 26px;
}

#challenge-input-example, #challenge-output-example
{
    width: 40%;
    padding: 4px;
    border: 1px solid gray;
}

#current-challenge-content a
{
    color: gray;
    font-family: Arial;
}

i.note
{
    display: block;
    margin-top: 5px;
    color: #65e04f;
}

i.hint
{
    display: block;
    color: orange;
    margin-top: 5px;
}
